<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-
    awesome/5.13.0/css/all.min.css">
    <title>Sistema de Cadastro</title>
  </head>
  <body>
    <h1>Seja bem-vindo(a) ao sistema de cadastro</h1><br>
    <a href="funcionarios/Cadastrar">Cadastrar Funcionario</a><br>
     <a href="livros/Cadastrar">Cadastrar Livros</a><br>
    <a href="livros/listar">Listar livros</a><br>
    <a href="/">Voltar</a><br>
  </body>
</html>